<!DOCTYPE html>
<html>
<head>
	<title>Get Student Information</title>
	<style>
        body {
            background-color: rgb(27, 28, 28);
            font-family: 'Avenir', sans-serif;
            text-align: center;
        }
    </style>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: #0c71b4;">Delete Student Information</h1>

		<body bgcolor="lightgrey">

			<form action="/delete" autocomplete="on" method="POST" enctype="multipart/form-data">

				<h2 style="color: #efecec;">Enter Student ID</h2>

		  		<br> <input style="height:25px;font-size:14pt;" type="number" name="stu_id" autofocus size="40"><br><br>


		  		<button type="submit" style="background: #333; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Delete</button><br><br>

		  		<button type="submit" formaction="http://3.134.115.108:80/" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;" method="GET">GO TO UPDATE DATABASE PAGE</button>

			</form>

		</body>
	</font>
</center>
</html>
